<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4jDpMGlW7dKfEgKyxKK284AXRXOStQEA</string>
	<key>GCM_SENDER_ID</key>
	<string>992015611284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wordWars</string>
	<key>PROJECT_ID</key>
	<string>word-wars-82fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>word-wars-82fa1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992015611284:ios:48f3a5019e17b4a374cb81</string>
</dict>
</plist>